.wrapper {
    display: flex;
    flex-direction: column;
    justify-content:center ;
}

.buttonWrapper {
    text-align: center;
}
.buttonWrapper button {
    margin: 20px;
}

.queryText {
    font-size: 18px;
    font-weight: bold;
    margin: 20%;
}